body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: rgb(241, 241, 241);
  color: rgb(58, 58, 58);
}

h1,
h2,
h3,
h4,
h5 {
  color: gray;
  text-align: center;
}
.job ul,
#interests ul {
  list-style: circle;
  list-style-position: outside;
  margin-left: 1em;
}

.job li:before,
#interests li:before {
  position: relative;
}
li {
  font-size: 0.8em;
  padding: 5px 10px 5px 0;
}
ul.achievements {
  position: relative;
  padding-top: 10px;
  margin: 0 auto;
  left: -5px;
}
span {
  padding: 0.2em;
}

#page {
  background-color: #fafafa;
  padding: 1em auto;
  min-width: 300px;
}

#main-name {
  color: rgb(23, 120, 185);
  text-align: center;
}

#contact-details p {
  font-size: 0.9em;
  padding: 0.2em 1.2em;
  text-align: center;
}

#mobile,
#address,
#email {
  font-style: italic;
  font-size: 0.8rem;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.employer,
.role,
.duration {
  display: block;
  margin: 0 auto;
  padding: 0 40px;
  font-size: 0.9em;
  text-align: center;
  line-height: 1.2em;
  color: rgb(23, 112, 185);
}
.job .logo {
  max-width: 150px;
  display: block;
  margin: 5px auto;
}

.logo img {
  width: 100%;
  padding: 50px 0 20px;
}
.logo svg {
  padding: 50px 0 20px 0;
}
#bobtrade > div.logo.bobtrade-img > img {
  padding-bottom: 0;
  padding-top: 20px;
}
.institute {
  display: block;
  font-size: 1em;
  text-align: center;
}
.dates,
.duration {
  font-size: 0.7em;
  display: block;
  font-style: italic;
}
@media (min-width: 425px) {
  h2.exp-title {
    padding: 20px auto 0;
    margin-top: 40px;
  }
  #bobtrade > div.logo.bobtrade-img > img {
    padding-top: 0;
  }
  #contact-details p {
    padding: 0 auto 50px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #page {
    margin: 20px 45px;
    padding: 20px;
    -webkit-box-shadow: -1px 11px 25px -2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -1px 11px 25px -2px rgba(0, 0, 0, 0.25);
    box-shadow: -1px 11px 25px -2px rgba(0, 0, 0, 0.25);
  }
}
@media (min-width: 1024px) {
  #main-name,
  .card {
    border: 1px solid red;
  }
  .wrapper {
    display: flex;
  }
  #main-name,
  #intro {
    flex-basis: 30%;
  }
}
