
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: lightslategrey;
    
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

li {
    line-height: 2em;
    font-size: 0.8em;
}
span{
    
    padding: 0.2em;
}

#page{
    background-color: white;
    padding: 1em;
    min-width: 250px;
}

#main-name {
    color: rgb(143, 18, 18);
    text-align: center;
}

.card{
    flex: 1;
    /* border: 1px solid blue; */

}

#mobile, #address, #email {
    display: block;
    margin: 10px auto;
    text-align: center;
}
.employer,
.role,
.duration {
    display: block;
    margin: 5px auto;
    text-align: center;
    line-height: 1.2em;
    color: green;  
}
.job .logo{
    max-width: 300px;
    display:block;
    margin: 10px auto;
}
    
.logo img {
    width: 100%;
    padding: 80px 0 20px;
}
.logo svg {
    padding: 80px 0 20px 0;

}
.job#bobtrade .logo img{
    margin: 0 auto;
    padding: 10px 0 10px 0;

}