
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: rgb(241, 241, 241);
    color: rgb(58, 58, 58);

    
}

h1, h2, h3, h4, h5 {
    color: gray;
    text-align: center;
}
.job ul,
#interests ul{
    list-style: circle;
    list-style-position: outside;
    margin-left: 1em;
}


.job li:before,
#interests li:before{
    position: relative;
}
li {
    font-size: 0.8em;
    padding: 15px 20px;
}
ul.achievements{
    padding: 55px;
}
span{
    
    padding: 0.2em;
}

#page{
    background-color: #fafafa;
    padding: 1em;
    min-width: 320px;
}

#main-name {
    color:rgb(23, 120, 185);
    text-align: center;

}
.card{
    flex: 1;
}
#contact-details p {
    font-size: 0.9em;
    padding: 0.5em 1.2em;
    text-align: center;  

}

#mobile, #address, #email {
    font-style: italic;
    font-size: 0.8rem;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.employer,
.role,
.duration {
    display: block;
    margin: 0 auto;
    padding: 0 100px;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.2em;
    color: rgb(23, 112, 185); 
}
.job .logo{
    max-width: 320px;
    display:block;
    margin: 5px auto;
}
    
.logo img {
    width: 100%;
    padding: 80px 0 20px;
}
.logo svg {
    padding: 80px 0 20px 0;

}
#bobtrade > div.logo.bobtrade-img > img {
    padding-bottom: 0;
    padding-top: 20px;
}
.institute {
    display: block;
    font-size: 1em;
    text-align: center;
}
@media(min-width:425px){
    #contact-details p {
        padding: 0 auto 50px;

    }
}